# Ignore everything by default
*

# Explicitly ignore secrets & data
config.ini
*.csv
*.xlsx

# Allow these files
!.gitignore
!README.md
!EvohomeTemperatureLogging.py
!requirements.txt
!config.example.ini
!.github/
!.github/**
!evohome_data.csv
